In [3]:
#import dependencies
from config import gkey
import gmaps
import pandas as pd

In [4]:
jelly_data=pd.read_csv("./Data/jelly_95_11.csv")

In [6]:
jelly_data

    Year  Jellyfish sightings
0   1995               145161
1   1996               131899
2   1997               533272
3   1998              1126176
4   1999               621584
5   2000               373369
6   2001               272892
7   2002                76751
8   2003                34925
9   2004                40416
10  2005                32623
11  2006                25405
12  2007                25064
13  2008                46497
14  2009                 8886
15  2010                 8415
16  2011                 4969