In [1]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
#read in data
human_data=pd.read_csv("./Data/fishing-vessels-v1.csv")
jelly_data=pd.read_csv("./Data/CoJFd.csv")

In [3]:
human_data.head()

   Year  Number of Boats Percent Increase
0  2012          25685.0              NaN
1  2013          44694.0              74%
2  2014          51026.0              14%
3  2015          55508.0               9%
4  2016          60410.0               9%

In [8]:
jelly_data.head()

,location_name,year,rank_type,count_actual
0,Main_Pier_at_Chesapeake_Biological_Laboratory;...,1970.0,PelagiidaeChrysaora,120.0
1,Main_Pier_at_Chesapeake_Biological_Laboratory;...,1970.0,PelagiidaeChrysaora,40.0
2,Main_Pier_at_Chesapeake_Biological_Laboratory;...,1970.0,PelagiidaeChrysaora,6.0
3,Main_Pier_at_Chesapeake_Biological_Laboratory;...,1970.0,PelagiidaeChrysaora,36.0
4,Main_Pier_at_Chesapeake_Biological_Laboratory;...,1970.0,PelagiidaeChrysaora,14.0

In [15]:
year_totals=jelly_data.groupby(["year"]).sum()["count_actual"]
year_totals

year
1970.0    59271.0
Name: count_actual, dtype: float64